<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="in.redbus.Tests.BusHirePageTest"/>
      <class name="in.redbus.Tests.SearchPageTest"/>
      <class name="in.redbus.Tests.HomePageTest"/>
      <class name="in.redbus.Tests.BusTicketsPageTest"/>
      <class name="in.redbus.Tests.TripSummaryPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
